@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --disc-width: 400px;
    --disc-height: 400px;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    margin: 50px;
}

.band-info {
    width: 40%;
    height: 700px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 15px 0;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    z-index: 5;
}

.band-name {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 30px;
}

.band-image {
    width: 400px;
    height: 400px;
}

.description {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-size: 15px;
    text-align: justify;
}

.container-disc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 600px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.cover {
    background: #f1f1ef;
    width: var(--disc-width);
    height: var(--disc-height);
    z-index: 2;
    display: flex;
    justify-content: center;
    filter: blur(4px);
    box-shadow: 3px 3px 7px black;
}

.blur-out {
    animation: blur-out 6s linear;
    animation-fill-mode: forwards;
}

@keyframes blur-out {
    0%,
    25% { filter: blur(4px); }
    50% { filter: blur(3px); }
    75% { filter: blur(2px); }
    100% { filter: blur(0); }
}

.blur-in {
    animation: blur-in 6s linear;
    animation-fill-mode: forwards;
}

@keyframes blur-in {
    0%,
    25% { filter: blur(1px); }
    50% { filter: blur(2px); }
    75% { filter: blur(3px); }
    100% { filter: blur(4px); }
}

.border-container {
    position: relative;
    top: 10px;
    left: 1px;
}

.border {
    --border-width: calc(var(--disc-width) - 20px);
    width: var(--border-width);
    height: 1px;
    position: absolute;
    background: linear-gradient(270deg, #f1f1ef 48.9%, #000 49%);
    background-size: 205%;
    z-index: 2;
    opacity: 0;
    animation-fill-mode: both;
}

.border.two {
    left: calc(var(--border-width) - (var(--border-width)) / 2);
    top: calc(var(--border-width) - (var(--border-width)) / 2);
    transform: rotate(90deg);
}

.border.three {
    position: absolute;
    top: var(--border-width);
    transform: rotate(180deg);
}

.border.four {
    position: absolute;
    top: calc(var(--border-width) - (var(--border-width)) / 2);
    left: calc((var(--border-width) - (var(--border-width)) / 2) * -1);
    transform: rotate(270deg);
}

.border-animation1 {
    animation: border 6s linear;
    animation-fill-mode: forwards;
}

.border-animation2 {
    animation: border 6s 3s linear;
    animation-fill-mode: forwards;
}

.border-animation3 {
    animation: border 6s 6s linear;
    animation-fill-mode: forwards;
}

.border-animation4 {
    animation: border 6s 9s linear;
    animation-fill-mode: forwards;
}

@keyframes border {
    0%,
    50% {
        background-position: 100%;
        opacity: 1;
    }

    100% {
        background-position: 0%;
        opacity: 1;
    }
}

.box-container {
    position: relative;
}

.box {
    position: absolute;
    z-index: 5;
    opacity: 0.4;
    border-radius: 1%;
}

.box.one {
    background-color: #8cb582;
    width: 120px;
    height: 150px;
    top: -320px;
    left: 37px;
}

.animation-box-1 {
    animation: animation-translate-box-one 6s linear, animation-orbit-box-one 8s 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes animation-translate-box-one {
    0%,
    25% { top: -320; }
    50% { top: -100px; }
    75% { top: 0; }
    100% { top: 50px; }
}

@keyframes animation-orbit-box-one {
    from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
}

.box.two {
    background-color: #d4795e;
    width: 61px;
    height: 61px;
    top: 217px;
    left: -900px;
}

.animation-box-2 {
    animation: animation-translate-box-two 6s linear, animation-orbit-box-two 12s 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes animation-translate-box-two {
    0%,
    25% { left: -900px; }
    50% { left: -200px; }
    75% { left: 0; }
    100% { left: 63px; }
}

@keyframes animation-orbit-box-two {
    from { transform: rotate(0deg) translateX(6px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(5px) rotate(-360deg); }
}

.box.three {
    background-color: #7071a7;
    width: 215px;
    height: 42px;
    top: 86px;
    left: -1100px;
}

.animation-box-3 {
    animation: animation-translate-box-three 6s linear, animation-orbit-box-three 8s 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes animation-translate-box-three {
    0%,
    25% { left: -1100px; }
    50% { left: -350px; }
    75% { left: 0; }
    100% { left: 118px; }
}

@keyframes animation-orbit-box-three {
    from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
}

.box.four {
    background-color: #eede4f;
    opacity: 0.2;
    width: 165px;
    height: 125px;
    top: 156px;
    left: 1300px;
}

.animation-box-4 {
    animation: animation-translate-box-four 6s linear, animation-orbit-box-four 8s 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes animation-translate-box-four {
    0%,
    25% { left: 1300px; }
    50% { left: 650px; }
    75% { left: 300px; }
    100% { left: 175px; }
}

@keyframes animation-orbit-box-four {
    from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
}

.box.five {
    background-color: #887591;
    width: 85px;
    height: 165px;
    top: 750px;
    left: 220px;
}

.animation-box-5 {
    animation: animation-translate-box-five 6s linear, animation-orbit-box-five 8s 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes animation-translate-box-five {
    0%,
    25% { top: 750px; }
    50% { top: 325px; }
    75% { top: 200px; }
    100% { top: 163px; }
}

@keyframes animation-orbit-box-five {
    from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
}

.info-container {
    width: calc(var(--disc-width) - 18px);
    height: calc(var(--disc-height) - 18px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 5px;
    letter-spacing: 5px;
    font-style: italic;
    font-weight: bold;
}

#disc-artist {
    position: relative;
    left: 1200px;
    top: -5px;
}

.animation-disc-artist {
    animation: animation-disc-artist 7s linear;
    animation-fill-mode: forwards;
}

@keyframes animation-disc-artist {
    0%,
    25% { left: 1200px; }
    50% { left: 400px; }
    75% { left: 150px; }
    100% { left: 58px; }
}

#disc-title {
    position: relative;
    left: -1100px;
    top: -1px;
}

.animation-disc-title {
    animation: animation-disc-title 7s linear;
    animation-fill-mode: forwards;
}

@keyframes animation-disc-title {
    0%,
    25% { left: -1100px; }
    50% { left: -325px; }
    75% { left: -100px; }
    100% { left: -56px; }
}

.image {
    background-image: url("../assets/img/shapeshifter-image.png");
    background-size: cover;
    width: calc(var(--disc-width) / 2);
    height: calc(var(--disc-height) / 2);
}

.disc {
    background:
        linear-gradient(
            332deg,
            rgba(146, 190, 134, 1) 0%,
            rgba(255, 255, 255, 1) 49%,
            rgba(146, 190, 134, 1) 100%
        );
    width: var(--disc-width);
    height: var(--disc-height);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.translate-in {
    transition: transform 3s linear;
    transform: translateX(calc(var(--disc-width) * -1)) rotate(-80deg);
}

.translate-out {
    transition: transform 3s linear;
    transform: translateX(0) rotate(80deg);
}

.line {
    position: absolute;
    width: calc(var(--disc-width) - 30px);
    height: calc(var(--disc-height) - 30px);
    border: solid 1px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.line.two {
    width: calc(var(--disc-width) - 60px);
    height: calc(var(--disc-height) - 60px);
}

.line.three {
    width: calc(var(--disc-width) - 130px);
    height: calc(var(--disc-height) - 130px);
}

.line.four {
    width: calc(var(--disc-width) - 160px);
    height: calc(var(--disc-height) - 160px);
}

.ticket {
    --ticket-width: calc(var(--disc-width) / 3);
    --ticket-height: calc(var(--disc-height) / 3);

    background: #dad9df;
    width: var(--ticket-width);
    height: var(--ticket-height);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole {
    background: white;
    width: calc(var(--ticket-width) / 13);
    height: calc(var(--ticket-height) / 13);
    border-radius: 50%;
}
